version: "3.9"

services:
  backend:
    build: ./server
    container_name: backend
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
    networks:
      - appnet

  frontend:
    build: ./client
    container_name: frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
